[defaults]
# Whenever we run a command, Ansible will automatically look for this address book
inventory = inventory.ini

# Skips the SSH "yes/no" prompt so automation isn't interrupted
host_key_checking = False

# Prevents the creation of messy .retry files when a task fails
retry_files_enabled = False

# Makes the terminal output look beautiful and easy to read (YAML instead of JSON)
stdout_callback = default
result_format = yaml

# Automatically finds Python on the server without showing noisy warnings
interpreter_python = auto_silent

[ssh_connection]
# Keeps the SSH tunnel open to push multiple instructions at once (Massive speed boost)
pipelining = True